<style type="text/css">

  #stage {
    border: 1px solid #ccc;
  }

  #felt {
    float:center;
    position: relative;
    margin: 0 0 0 50px;
    height: 100vh;
    background-color:;


  }

  #felt div {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:100;
  }

</style>

<style type="text/css">

  #felt div {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

</style>